body {
    margin: 0;
    background-color: #ffffff;
    color: black;
    font-family: "Montserrat", sans-serif;
    scrollbar-width: thin;
}

button {
    font-family: "Montserrat", sans-serif;
}

/******Header******/
main > header {
    display: flex;
    flex-direction: column;
}
.navbar {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.11);
    z-index: 10;
}
.navbar a img {
    height: 10vh;
    padding-left: 100px;
}
.navbar-options {
    align-self: center;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
}
.navbar-options a {
    padding-right: 40px;
    font-weight: bold;
}

.navbar-collapse-item {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.navbar-collapse-item img {
    height: 50px;
    align-self: center;
}

.navbar-collapse-item a {
    align-self: center;
    padding-right: 20px;
}

.navbar-collapse {
    display: none;
    position: fixed;
    top: 10vh;
    background-color: white;
    width: 180px;
    align-self: flex-end;
    text-align: center;
    margin-right: 40px;
    z-index: 20;
}

.navbar-collapse a div {
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 1px #2646532a;
}

.navbar-collapse a div:hover {
    background-color: whitesmoke;
}

.navbar-collapse a:last-child div {
    border-top: none;
}

.navbar-options a:hover {
    color: rgb(88, 88, 88);
}

#filler {
    height: 10vh;
    width: 100%;
}

/*=================================*/

/*NAVBAR USER IMAGE*/

#navbarPhotoCropper {
    width: 50px;
    height: 50px;
}

#navbarProfilePhoto {
    width: 50px;
    object-fit: cover;
}
/*=================================*/

/******Homepage******/

#homepage-content {
    background-color: #264653;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
}

.homepage-column {
    width: 45%;
    align-self: center;
}

.homepage-column:first-of-type {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.homepage-column h2 {
    font-size: 2.5em;
    font-weight: bold;
}

.homepage-column img {
    max-width: 100%;
}

.homepage-column p {
    margin-bottom: 30px;
}

/**********************/

/******Auth Pages******/

.auth-page {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: space-around;
}

.auth-page h2 {
    align-self: center;
    color: #264653;
}

.auth-page form {
    background-color: rgb(255, 255, 255);
    align-self: center;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    padding: 2.5em;
    max-width: 20em;
    -webkit-box-shadow: 0px 5px 20px 3px rgba(138, 138, 138, 0.05);
    box-shadow: 0px 5px 20px 3px rgba(138, 138, 138, 0.05);
    border: 1px solid rgba(190, 190, 190, 0.418);
}

.auth-page form input {
    background-color: #dfdfdf;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 0;
    box-sizing: border-box;
    color: rgb(126, 126, 126);
    font-size: 18px;
    height: 45px;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.auth-page form .error {
    font-weight: bold;
    color: #ff3333;
}

#remember-me {
    display: flex;
    padding-bottom: 20px;
}

#remember-me h4 {
    font-weight: normal;
    margin: 0;
    font-size: 13px;
    align-self: center;
    margin-right: 10px;
}

#remember-me input {
    margin: 0;
    height: 15px;
    width: 15px;
    align-self: center;
}

form button {
    border: 0;
    background-color: #2a9d8f;
    padding: 13px;
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

form .button {
    border: 0;
    background-color: #2a9d8f;
    padding: 13px;
    border-radius: 20px;
    height: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.divider {
    align-self: center;
    margin-top: 30px;
    width: 80%;
    height: 2px;
    background-color: #264653;
}

form h4 {
    font-weight: normal;
    font-size: 13px;
    align-self: center;
    margin-bottom: 5px;
}

/**********************/

/*****Project Selection Area*******/

#all-projects {
    width: 95%;
    display: flex;
    flex-direction: column;
}

#all-projects h2:first-of-type {
    align-self: center;
    font-size: 40px;
    margin-top: 10vh;
}

#all-projects h2 {
    align-self: center;
    font-size: 40px;
    margin-top: 0;
}

#all-projects h3 {
    text-align: center;
    align-self: center;
    font-size: 33px;
    margin-top: 15vh;
}
#all-projects h5 {
    text-align: center;
    align-self: center;
    font-size: 20px;
}

.project-select {
    align-self: center;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    overflow-y: auto;
}

.project-select a {
    margin: 10px;
}

.project-select .project-icon-big {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    height: 100px;
    width: 100px;
    border: 4px solid #264653;
}
.project-select .project-icon-big h5 {
    align-self: center;
    font-size: 20px;
}

/*********************************/

/*****Project Area*****/

#project-area {
    display: flex;
    height: 90vh;
}

#project-title {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}

#projects-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    width: 5%;
    background-color: #2a9d8f;
    z-index: 2;
}

.project-icon {
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 3px solid #264653;
    padding: auto;
    background-color: white;
    margin-top: 10px;
}

.project-icon h5 {
    align-self: center;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#add-project {
    align-self: center;
    padding-top: 20px;
}
#add-project img {
    height: 35px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}
#slide-right-menu {
    display: none;
    left: -500px;
    z-index: 1;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
    position: absolute;
    margin-left: 5%;
    height: 90vh;
    background-color: #dfdfdf;
    width: 15%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.slide-right-menu-item div {
    display: flex;
    justify-content: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.slide-right-menu-item div:hover {
    background-color: whitesmoke;
}

.slide-right-menu-item div img {
    align-self: center;
    height: 32px;
    margin-right: 10px;
}

.slide-right-menu-item {
    cursor: pointer;
}

.slide-right-menu-divider {
    cursor: pointer;
    height: 1px;
    width: 100%;
}

.slide-right-menu-item div h2 {
    font-size: 18px;
}

.project-invite {
    display: flex;
    flex-direction: column;
}

#slide-right-menu-main-options {
    flex-direction: column;
}

#notification-container {
    display: none;
    flex-direction: column;
}

.project-invites {
    margin-top: 50px;
    margin-left: 10%;
    align-self: left;
    width: 20%;
}

.project-invites p {
    text-align: left;
}

.project-invites h4 {
    text-align: left;
}

.notification {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.notification h6 {
    margin: 0px;
    margin-top: 5px;
    color: #2a9d8f;
}

.notification > p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 13px;
}

.notification-more-info {
    align-self: center;
    padding: 10px;
    width: 100%;
}

.notification-more-info h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}

.notification-more-info p {
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
}

.accept-icons-container {
    margin-top: 15px;
    align-self: left;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.accept-reject-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.accept-reject-icon h5 {
    margin-top: 5px;
    align-self: center;
}

.accept-icons-container img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    align-self: center;
}

.project-overview {
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow-y: auto;
}

#project-overview-top-bar {
    display: flex;
    justify-content: space-between;
}

#project-overview-top-bar-left,
#project-overview-top-bar-right {
    padding-top: 50px;
    display: flex;
}

#project-overview-top-bar-right {
    margin-right: 50px;
}

#project-overview-top-bar-left h2 {
    font-size: 30px;
    color: #264653;
    align-self: center;
    margin-top: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#project-overview-top-bar-left img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 35px;
    align-self: center;
    margin-left: 5px;
    cursor: pointer;
}
#project-overview-top-bar-left img:first-of-type {
    margin-left: 20px;
}

#search-results {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.search-results-header {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 120px;
}

.search-results-header h2,
.search-results-header a {
    align-self: center;
}

.search-results-area {
    width: 95%;
    padding: 20px;
    padding-top: 50px;
    margin-left: 50px;
}

.search-results-area .task-preview {
    width: 400px;
    padding-left: 21px;
    padding-right: 21px;
    background-color: #ececec;
}

#search-tasks-form {
    position: relative;
    width: 20rem;
    height: 35px;
    background: #2a9d8f;
    border-radius: 15px;
}

#search-tasks-form input {
    height: 35px;
    border: 0;
    color: black;
    font-size: 15px;
}

#search-tasks-form button {
    height: 35px;
    border: 0;
    color: white;
    font-size: 15px;
    line-height: 35px;
    z-index: -1;
}

#search-tasks-form input[type="search"] {
    outline: 0;
    width: 100%;
    background: #fff;
    border: 2px solid #2a9d8f;
    padding: 0 10px;
    border-radius: 15px;
    appearance: none;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;

    position: relative;
}
#search-tasks-form button {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    font-weight: bold;
    color: white;
    background: #2a9d8f;
    border-radius: 0 15px 15px 0;
}
#search-tasks-form input:not(:placeholder-shown) {
    border-radius: 15px 0 0 15px;
    width: calc(100% - 50px);
}

#search-tasks-form input:not(:placeholder-shown) + button {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    z-index: 0;
}
#search-tasks-form label {
    position: absolute;

    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.boards-container {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}

.board {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 25%;
    height: 70vh;
    background-color: #ececec;
    border-radius: 3px;
}

.board h2 {
    text-align: left;
    color: #264653;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.board-header {
    display: flex;
    justify-content: space-between;
}

.board-header img {
    cursor: pointer;
    align-self: center;
    height: 2.5vh;
    margin-right: 10px;
}

.task-preview {
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(27, 27, 27, 0.05);
    box-shadow: 0px 5px 16px 0px rgba(27, 27, 27, 0.05);
}

.task-preview:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.863);
}

.task-preview-info {
    max-width: 90%;
    overflow-wrap: break-word;
}

.task-zone {
    width: 100%;
    background-color: yellow;
    height: 100%;
}

.task-preview h3 {
    font-size: 15px;
    margin-top: 20px;
}

.task-preview-info p {
    font-size: 13px;
    padding-right: 65px;
}

.task-preview h4 {
    font-size: 14px;
}

.alternate-member-count {
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    border: 2px solid #264653;
    border-radius: 25px;
    margin-top: 20px;
}

.alternate-member-count h2 {
    font-size: 17px;
    align-self: center;
}

#project-overview-opaque-cover {
    display: none;
    position: absolute;
    height: 90vh;
    width: 95%;
    background-color: #c9c9c9a9;
    z-index: 2;
}

#task-page {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 30%;
    margin-right: 35%;
    width: 30%;
    max-height: 80vh;
    overflow: scroll;
    background-color: #ececec;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
    z-index: 3;
}

#task-page-header {
    display: flex;
    justify-content: space-between;
}

#task-page-header h2 {
    align-self: top;
    margin-top: 33px;
    align-self: left;
    text-transform: uppercase;
    color: #264653;
}

#task-page-header img {
    margin-left: 15px;
    cursor: pointer;
    height: 23px;
    margin-top: 33px;
}

#task-page > div {
    margin-left: 33px;
    margin-right: 33px;
}

#task-page h2 {
    color: #264653;
}

#task-page-header h1 {
    margin-bottom: 15px;
    font-size: 35px;
    color: #264653;
    text-align: left;
}

#task-description-container {
    width: 100%;
    overflow-wrap: break-word;
}

#task-page-task-date-container {
    display: flex;
    align-items: center;
}

#task-page-task-date-container img {
    height: 20px;
    margin-right: 8px;
}

#task-page-members {
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
}

#task-page-members img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    object-fit: cover;
    margin-left: 5px;
    align-self: center;
    cursor: pointer;
}

#task-page-members img:first-of-type {
    margin-left: 0;
}

#task-comments-container {
    width: 100%;
}
.task-page-comment {
    display: flex;
    padding-bottom: 10px;
    width: 100%;
}

.task-page-comment img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 40px;
}

.task-page-comment > div > h5 {
    margin-top: 1px;
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: 0px;
}

.task-page-comment > div {
    width: 85%;
}

.task-page-comment > div > p {
    margin-left: 10px;
    font-size: 13px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 0px;
    padding: 13px;
}

.task-page-comment > div > textarea {
    margin-left: 10px;
    width: 85%;
    font-size: 13px;
    margin-top: 5px;
    background-color: white;
    border-color: white;
    border-radius: 5px;
    padding: 13px;
    height: 45px;
    border-top-left-radius: 0px;
    outline: 0;
    resize: none;
}

.task-page-comment > div > h4 {
    cursor: pointer;
    background-color: #264653;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    font-size: 11px;
    width: fit-content;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
.task-page-comment > div > h4:hover {
    opacity: 0.8;
}

#new-task-form,
#edit-task-form {
    z-index: 3;
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 27.5%;
    margin-right: 32.5%;
    height: 75vh;
    width: 35%;
    background-color: #ececec;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
}

#new-task-form-header,
#edit-task-form-header {
    display: flex;
    justify-content: space-between;
}

#new-task-form-header h2,
#edit-task-form-header h2 {
    align-self: top;
}

#new-task-form-header img,
#edit-task-form-header img {
    align-self: top;
    cursor: pointer;
    height: 23px;
    margin-top: 33px;
    margin-right: 33px;
}

#new-task-form h2,
#edit-task-form h2 {
    margin-left: 33px;
    margin-top: 33px;
    margin-bottom: 5%;
    align-self: left;
    text-transform: uppercase;
    color: #264653;
}

#new-task-form input[type="text"],
#new-task-form textarea,
#edit-task-form input[type="text"],
#edit-task-form textarea {
    margin-left: 5%;
    margin-right: 5%;
}

#new-task-form input,
#new-task-form textarea,
#edit-task-form input,
#edit-task-form textarea {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 0;
    box-sizing: border-box;
    color: rgb(126, 126, 126);
    font-size: 18px;
    height: 45px;
    outline: 0;
    padding: 4px 20px 0;
    resize: none;
}

#new-task-end-date-selection,
#edit-task-end-date-selection {
    margin-left: 5%;
    margin-right: 5%;
}

#new-task-end-date-selection h4,
#edit-task-end-date-selection h4 {
    margin-top: 0;
}

#new-task-form textarea,
#edit-task-form textarea {
    padding: 12px 20px 0;
    height: 20vh;
}

#new-member-selection,
#edit-member-selection {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    height: 22vh;
    overflow-y: auto;
}

#new-member-selection h4,
#edit-member-selection h4 {
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
}
#new-member-selection-option,
#edit-member-selection-option {
    display: flex;
}
#new-member-selection-option input,
#new-member-selection-option label,
#edit-member-selection-option input,
#edit-member-selection-option label {
    margin: 0;
    margin-left: 15px;
    align-self: center;
}

#new-task-form .button,
#edit-task-form .button {
    align-self: center;
    margin-top: 20px;
    display: flex;
    border: 0;
    background-color: #2a9d8f;
    padding: 13px;
    border-radius: 20px;
    height: 23px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 20%;
}

#new-task-form .button h4,
#edit-task-form .button h4 {
    width: 100%;
    align-self: center;
    text-align: center;
}

.two-column-container {
    display: flex;
}

/**********************/

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
    display: flex;
    flex-direction: column;
    background-color: #d3edc3;
    padding: 1em;
    margin: 1em;
}
#cards article.card header {
    display: flex;
    align-items: center;
}
#cards article.card header h2 {
    flex-grow: 1;
}
#cards article.card header a.delete {
    display: none;
    font-size: 2.6rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
}
#cards article.card header:hover a.delete {
    display: inline;
}
#cards article.card li {
    list-style-type: none;
}
#cards article.card li label {
    display: flex;
    align-items: baseline;
}
#cards article.card li label span {
    margin-left: 0.5em;
    flex-grow: 1;
}
#cards article.card li label a {
    display: none;
}
#cards article.card li label:hover a {
    display: inline;
}
#cards article.card input:checked + span {
    text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
    margin: 0;
}
#cards article.card form {
    margin: 0;
}
#cards article.card input[type="text"] {
    background-color: white;
    margin: 0;
}
#content label {
    width: 100%;
}

@media (max-width: 70em) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
    main > header {
        display: grid;
        grid-template-columns: 1fr auto;
    }
    main > header h1 {
        grid-row-end: span 2;
    }
}
@media (max-width: 40em) {
    #cards {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 25em) {
    body {
        margin: 0;
    }
    main > header {
        margin: 0;
        padding: 0.5em;
    }
    main > header span {
        margin: 0;
    }
    #content form {
        margin: 0;
        max-width: 25em;
    }
    article.card {
        margin: 0;
        border-bottom: 1px solid rgba(96, 108, 118, 0.4);
    }
}

#regForm {
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
#regForm select {
    width: 20%;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#regForm h5 {
    text-align: center;
    align-self: center;
    font-size: 15px;
    margin-top: 2vh;
    color: #7e7d7ad2;
}
#create-project textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-size-adjust: 30%;
    resize: none;
}
h1 {
    text-align: center;
}

#regForm input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */

/* Hide all steps by default: */

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}
.tab {
    display: none;
}

input.invalid {
    background-color: #ffdddd;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #7e7d7ad2;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #7e7d7ad2;
}

/**
 * Overide milligram colors
 * Some styles might be missing
 **/

.button {
    padding: 12px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
}

.button.white:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.light-blue-border {
    border-color: #264653;
}

.light-blue {
    background-color: #2a9d8f;
}

.yellow {
    background-color: #e9c46a;
}

.green {
    background-color: #3abb71;
}

.red {
    background-color: #e76f51;
}
a.button.button-outline {
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/*--------------------*/
/* USER PAGE */

.userpageSetUp {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    width: 80%;
    justify-content: center;
}

.photoSpace {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    height: auto;
    align-self: center;
}

.BigDivEditProfile form {
    display: flex;
}

.BigDivEditProfile .photoSpace form {
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
}

.BigDivEditProfile .userpageSetUp {
    width: 100%;
}

.BigDivEditProfile .userpageSetUp .textSpace {
    margin-top: 3%;
    width: 100%;
}

.textSpace {
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    width: 50%;
    height: auto;
}

.textSpace form {
    display: flex;
    align-self: center;
}

.textSpace form button {
    align-self: center;
}

.textSpaceButtons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.userName {
    color: #264653;
    font-weight: 600px;
    font-size: 30px;
    text-align: left;
}

.userEmail {
    color: black;
}

.userpageInfo {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#emailSpace {
    display: flex;
    flex-flow: row;
}

#emailIcon {
    align-self: center;
    padding-right: 2%;
}

.icon {
    color: #264653;
}

#userPhoto {
    display: flex;
    align-self: center;
    width: 200px;
    height: 200px;
}

#buttonEditProfile {
    display: flex;
    align-self: center;
    justify-content: center;
}

.userPageHR {
    background-color: #2a9d8f;
    border: none;
    height: 5px;
    width: 100%;
}

.profileButton {
    margin-top: 10px;
    width: 170px;
    height: 45px;
    border: 0;
    background-color: #2a9d8f;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}

.profileButton:hover {
    background-color: #89adbb;
}

#profileButtonDelete {
    background-color: #e76f51;
}

#editProfileButtonText {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

#edituserpagePlaceholder {
    width: 100%;
    height: 2px;
    color: black;
}
/*--------------------*/
/* EDIT USER PAGE */

.profileDiv {
    display: flex;
    flex-flow: column;
    margin-top: 3%;
}

.project-invites h2 {
    color: #264653;
    font-size: 30px;
}

.userpageInfo h2 {
    color: #264653;
    font-size: 30px;
}

.userpageInfo h1 {
    text-align: left;
    margin-bottom: 0px;
}

.edituserpageHR::before {
    background: #2a9d8f;
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border: 2px solid #2a9d8f;
    position: absolute;
    top: -5px;
    left: 50%;
    margin: 0 0 0 -3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.BigDivEditProfile {
    display: flex;
    width: 80%;
    align-self: center;
}

.userpageParam {
    padding-bottom: 30px;
    display: flex;
    flex-flow: column;
}

#userpage-edit-buttons {
    display: flex;
    align-items: center;
}

img {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

a {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background: #ececec;
}

#buttonUpdate {
    display: flex;
    align-content: center;
    align-items: center;
    width: fit-content;
    height: 45px;
    border-radius: 20px;
    justify-content: center;
    color: white;
    background-color: #2a9d8f;
    font-weight: bold;
    font-size: 14px;
}

.edituserpagePlaceholder {
    width: 80%;
    height: 45px;
    color: rgb(124, 122, 122);
    background-color: rgb(247, 243, 243);
    border: none;
}

.profilePhotoCropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
}

.roundPhoto {
    align-self: center;
    display: inline;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.editprofileError {
    font-weight: bold;
    color: #ff3333;
}

.descriptionBox {
    align-self: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(243, 240, 240);
    color: rgb(121, 118, 118);
    border-width: 20px;

    width: 50%;
    position: relative;
    margin: 30px auto;
    width: 100%;
    overflow: scroll;
}

.editdescriptionBox {
    height: 150px;
    width: 80%;
    color: rgb(124, 122, 122);
    background-color: rgb(247, 243, 243);
    border: none;
}

.editProfileIcon {
    color: #e76f51;
}

.uploadImageButton {
    cursor: pointer;
    border: 0;
    background-color: #e76f51;
    padding: 13px;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
}

.blackIcon {
    color: black;
    padding-left: 3%;
    padding-right: 10px;
}

#edituserpageForm {
    display: flex;
    width: 100%;
}

.editprofileText {
    font-weight: bold;
    font-size: 18px;
}

.textSpaceButtons form {
    margin-bottom: 0;
}

.goBackButton {
    display: flex;
    align-content: center;
    align-items: center;
    width: fit-content;
    padding: 15px;
    height: 15px;
    border-radius: 20px;
    justify-content: center;
    color: white;
    background-color: #f4a261;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

#deleteImageButtonID {
    background-color: rgb(219, 216, 216);
    color: black;
    height: 45px;
    width: 200px;
    align-self: center;
}

#bottomButtons {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* PASSWORD */

#changePassButton {
    margin-left: 20px;
    background-color: #2a9d8f;
    color: white;
}

#passwordForm {
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: auto;
}

.passInputPlaceHolder {
    width: 100%;
}
#changeP {
    padding-bottom: 20px;
    color: #264653;
}

#passButton {
    width: 30%;
    background-color: #264653;
}

/* ============================================== */

/* GRID FOR OVERLAPING IMAGES */

#containerEditPhoto {
    position: relative;
}

.uploadImage {
    position: absolute;
    top: 85%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.editImageButton {
    width: 100px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(219, 216, 216);
    display: flex;
    flex-flow: row nowrap;
    color: black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 20px;
}
.editImageButton:hover {
    background-color: rgb(85, 82, 82);
    color: white;
}

#deleteImageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 216, 216);
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
}

#deleteImageButton:hover {
    background-color: rgb(85, 82, 82);
    color: white;
}

#profilePhoto {
    padding-top: 10px;
    padding-bottom: 30px;
}

.deleteImageText {
    font-weight: bold;
    text-align: center;
}

/* ============================================== */

#errorEditProfile {
    font-weight: bold;
    color: #ff3333;
}

#forum {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 75vh;
    justify-content: space-between;
}

.forumPost {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#forum-posts-container {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.forum-post-name-date-options-content {
    width: 100%;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.forum-post-name-date-options-content p {
    font-size: 14px;
    margin-top: 5px;
}

.forum-post-profile-image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 40px;
}

.forum-post-options-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.forum-post-name-plus-date {
    display: flex;
}

.forum-post-name-plus-date h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
    font-size: 18px;
}

.forum-post-name-plus-date h6 {
    vertical-align: middle;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    align-self: center;
    color: #555;
}

.forum-post-name-date-options {
    display: flex;
    justify-content: space-between;
}

.new-post-content-input {
    height: 100px;
    margin-bottom: 20px;
}
.new-post-content-input #createNewPostButton {
    position: relative;
    height: 22px;
    cursor: pointer;
    width: 22px;
    bottom: 35px;
    left: calc(100% - 35px);
}

.new-post-content-input textarea {
    height: 90px;
    resize: none;
    width: calc(100% - 35px);
    padding: 7px;
    padding-right: 30px;
    overflow-y: auto;
    font-size: 14px;
}

.forum-post-options-menu {
    display: none;
    position: relative;
    top: 10px;
}

.forum-post-options-container {
    height: 0;
    display: flex;
}

.forum-post-options-menu div h4 {
    font-size: 14px;
    margin: 0px;
    color: rgb(63, 63, 63);
}

.forum-post-options-menu div {
    background-color: white;
    padding: 10px;
    padding-right: 10px;
    margin-right: 5px;
    cursor: pointer;
    border: solid 1px rgba(197, 197, 197, 0.781);
    border-top: 0px;
}

.forum-post-options-menu div:first-of-type {
    border-top-left-radius: 3px;
    border-top: solid 1px rgba(197, 197, 197, 0.781);
}

.forum-post-options-menu div:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#project-options-3points-icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    align-self: center;
    margin-left: 20px;
}

#project-options-container {
    height: 25px;
    width: 45px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#project-options {
    display: none;
    width: fit-content;
    white-space: nowrap;
    right: 190px;
    margin-top: 15px;
    text-align: right;
    position: relative;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    border-top-right-radius: 0px;
    border: solid 1px rgba(197, 197, 197, 0.781);
}

#project-options h4 {
    margin: 0px;
    vertical-align: middle;
    color: rgb(63, 63, 63);
}

#project-options div {
    padding-right: 20px;
    padding: 15px;

    cursor: pointer;
    border-top: solid 1px rgba(177, 177, 177, 0.781);
}

#project-options div:hover {
    background-color: whitesmoke;
}

#project-options div:first-child {
    border-top: none;
}

.settings-form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 7 0%;
}

.settings-form h3 {
    color: #264653;
}

.settings-form input {
    font-size: 18px;
    height: 25px;
    width: 350px;
    outline: 0;
    resize: none;
}

.settings-form button {
    width: fit-content;
    margin-top: 20px;
}

.settings-form select {
    width: 250px;
    height: 31px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    font-weight: bolder;
}

#settings-form-remove-member-button {
    background-color: #e76f51;
}

#settings-form-archive-button {
    background-color: #e76f51;
}

#settings-form-leave-button {
    background-color: #e76f51;
}

.settings-form h3 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 22px;
}

.settings-form p {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 60%;
    font-size: 14px;
}

#assign-member-settings-form-explain {
    margin-bottom: 10px;
}

.settings-form button {
    margin-top: 15px;
}

#project-settings-columns-container {
    display: flex;
}

#project-settings-columns-container div:first-child {
    width: 40%;
}

.settings-form .error {
    font-size: 14px;
    color: red;
}
/* #e76f51 */

.extra-members-count-div {
    margin-left: 5px;
    align-self: center;
    margin-bottom: 0px;
    border: 2px solid #264653;
    border-radius: 35px;
    height: 33px;
    width: 33px;
    display: flex;
    text-align: center;
    cursor: pointer;
}

#project-overview-top-bar-left .extra-members-count-div h2 {
    font-size: 17px;
    margin-bottom: 0px;
    width: 100%;
    align-self: center;
}

#full-member-list-header {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

#full-member-list-header h2 {
    align-self: top;
    margin-top: 33px;
    align-self: left;
    text-transform: uppercase;
    color: #264653;
}

#full-member-list-header img {
    margin-left: 15px;
    cursor: pointer;
    height: 23px;
    margin-top: 33px;
}

#full-member-list {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 30%;
    margin-right: 35%;
    width: 30%;
    max-height: 80vh;
    overflow: scroll;
    background-color: #ececec;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
    z-index: 3;
    margin-bottom: 0px;
}

#full-member-list-content {
    display: flex;
    flex-direction: column;
}

#full-member-list-content > a > div > img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
    align-self: center;
}

#full-member-list-content > a > div {
    display: flex;
    width: 90%;
    justify-content: center;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
}

#full-member-list-content > a > div h2 {
    display: flex;
    width: 100%;
    color: #264653;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 21px;
}

#full-member-list-content > a {
    border-bottom: 1px solid #a8a8a85d;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

#full-member-list-content > a:last-of-type {
    border: none;
}

#add-task-page-comment.task-page-comment {
    width: 100%;
}

#add-task-page-comment.task-page-comment > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#verify-your-email{
    justify-content: space-around;
    align-self: center;
    text-align: center;
    margin-top: 20vh;
    width: 50%;
}

#verify-email-page button{
    border: 0;
    background-color: #2a9d8f;
    padding: 13 px;
    border-radius: 20px;
    height: fit-content;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    width: fit-content;
    align-self: center ;

}

#verify-email-page button:hover{
    opacity: 0.8;
}

#verify-email-page form{
    all:initial;
    display: flex;
    justify-content: space-around;
}

.green-message{
    color: #2a9d8f;
}

#verify-email-page h4{
    align-self: center;
}

.delete-post-content{
    color: #666;
    font-style: italic;
}