body {
    margin: 0;
    background-color: #ffffff;
    color: black;
    font-family: "Montserrat", sans-serif;
}

/******Header******/
main > header {
    display: flex;
    flex-direction: column;
}
.navbar {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.11);
    z-index: 10;
}
.navbar a img {
    height: 10vh;
    padding-left: 100px;
}
.navbar-options {
    align-self: center;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
}
.navbar-options a {
    padding-right: 40px;
    font-weight: bold;
}

.navbar-collapse-item {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.navbar-collapse-item img {
    height: 50px;
    align-self: center;
}

.navbar-collapse-item a {
    align-self: center;
    padding-right: 20px;
}

.navbar-collapse {
    display: none;
    position: absolute;
    top: 10vh;
    background-color: white;
    width: 180px;
    align-self: flex-end;
    text-align: center;
    margin-right: 40px;
    z-index: 20;
}

.navbar-collapse a div {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 1px #264653;
}

.navbar-collapse a:last-child div {
    border-bottom: solid 1px #264653;
}

.navbar-options a:hover {
    color: rgb(88, 88, 88);
}

#filler {
    height: 10vh;
    width: 100%;
}

/******Homepage******/

#homepage-content {
    background-color: #264653;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
}

.homepage-column {
    width: 45%;
    align-self: center;
}

.homepage-column:first-of-type {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.homepage-column h2 {
    font-size: 2.5em;
    font-weight: bold;
}

.homepage-column img {
    max-width: 100%;
}

.homepage-column p {
    margin-bottom: 30px;
}

/**********************/

/******Auth Pages******/

.auth-page {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: space-around;
}

.auth-page h2 {
    align-self: center;
    color: #264653;
}

.auth-page form {
    background-color: rgb(255, 255, 255);
    align-self: center;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    padding: 2.5em;
    max-width: 20em;
    -webkit-box-shadow: 0px 5px 20px 3px rgba(138, 138, 138, 0.096);
    box-shadow: 0px 5px 20px 3px rgba(138, 138, 138, 0.096);
}

.auth-page form input {
    background-color: #dfdfdf;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 0;
    box-sizing: border-box;
    color: rgb(126, 126, 126);
    font-size: 18px;
    height: 45px;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.auth-page form .error {
    font-weight: bold;
    color: #ff3333;
}

#remember-me {
    display: flex;
    padding-bottom: 20px;
}

#remember-me h4 {
    font-weight: normal;
    margin: 0;
    font-size: 13px;
    align-self: center;
    margin-right: 10px;
}

#remember-me input {
    margin: 0;
    height: 15px;
    width: 15px;
    align-self: center;
}

form button {
    border: 0;
    background-color: #2a9d8f;
    padding: 13px;
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

form .button {
    border: 0;
    background-color: #2a9d8f;
    padding: 13px;
    border-radius: 20px;
    height: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.divider {
    align-self: center;
    margin-top: 30px;
    width: 80%;
    height: 2px;
    background-color: #264653;
}

form h4 {
    font-weight: normal;
    font-size: 13px;
    align-self: center;
    margin-bottom: 5px;
}

/**********************/

/*****Project Selection Area*******/

#all-projects {
    width: 95%;
    display: flex;
    flex-direction: column;
}

#all-projects h2 {
    align-self: center;
    font-size: 40px;
    margin-top: 15vh;
}

#project-select {
    align-self: center;
}

#project-select .project-icon-big {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    height: 100px;
    width: 100px;
    border: 4px solid #264653;
}
#project-select .project-icon-big h5 {
    align-self: center;
    font-size: 20px;
}

/*********************************/

/*****Project Area*****/

#project-area {
    display: flex;
    height: 90vh;
}

#project-title {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}

#projects-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    width: 5%;
    background-color: #2a9d8f;
}

.project-icon {
    cursor: pointer;
    align-self: center;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 3px solid #264653;
    padding: auto;
    background-color: white;
}

.project-icon h5 {
    align-self: center;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#add-project {
    align-self: center;
    padding-top: 20px;
}
#add-project img {
    height: 35px;
}

#slide-right-menu {
    display: none;
    position: absolute;
    margin-left: 5%;
    height: 90vh;
    background-color: #dfdfdf;
}

.slide-right-menu-item div {
    display: flex;
    justify-content: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.slide-right-menu-item div img {
    align-self: center;
    height: 32px;
    margin-right: 10px;
}

.slide-right-menu-item {
    cursor: pointer;
    height: 2px;
    width: 100%;
}

.slide-right-menu-item div h2 {
    font-size: 18px;
}

.project-overview {
    width: 95%;
}
.boards-container {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}

.board {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 450px;
    height: 70vh;
    background-color: #ececec;
    border-radius: 3px;
}

.board h2 {
    text-align: left;
    color: #264653;
}

.board-header {
    display: flex;
    justify-content: space-between;
}

.board-header img {
    cursor: pointer;
    align-self: center;
    height: 2.5vh;
    margin-right: 10px;
}

.task-preview {
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(27, 27, 27, 0.05);
    box-shadow: 0px 5px 16px 0px rgba(27, 27, 27, 0.05);
}

.task-zone {
    width: 100%;
    background-color: yellow;
    height: 100%;
}

.task-preview h3 {
    font-size: 15px;
    margin-top: 20px;
}

.task-preview p {
    font-size: 13px;
    padding-right: 65px;
}

.task-preview h4 {
    font-size: 14px;
}

#project-overview-opaque-cover{
    display: none   ;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-color: #c9c9c9a9;
}

#new-task-form {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 27.5%;
    margin-right: 32.5%;
    height: 75vh;
    width: 35%;
    background-color: #ececec;
    border-radius: 3px;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.11);
}

#new-task-form-header{
    display: flex;
    justify-content: space-between;
}

#new-task-form-header h2{
    align-self: top;
}

#new-task-form-header img{
    align-self: top;
    cursor: pointer;
    height: 23px;
    margin-top: 5%;
    margin-right:  5%;
}

#new-task-form h2 {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-self: left;
    text-transform: uppercase;
    color: #264653;
}

#new-task-form input[type="text"], #new-task-form textarea{
    margin-left: 5%;
    margin-right: 5%;
}

#new-task-form input, #new-task-form textarea {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 0;
    box-sizing: border-box;
    color: rgb(126, 126, 126);
    font-size: 18px;
    height: 45px;
    outline: 0;
    padding: 4px 20px 0;
    resize: none;
}

#new-task-form textarea {
    padding: 12px 20px 0;
    height: 20vh;
}


#member-selection{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    height: 22vh;
}

#member-selection h4{
    margin-left: 15px;
    margin-bottom: 5px;
}
#member-selection-option{
    display: flex;
}
#member-selection-option input,#member-selection-option label{
    margin:0;
    margin-left: 15px;
    align-self: center;
}

#new-task-form .button{
    align-self: center;
    margin-top:20px;
    display: flex;
    border: 0;
    background-color: #2a9d8f;
    padding: 13px;
    border-radius: 20px;
    height: 23px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 20%;
}

#new-task-form .button h4{
    width: 100%;
    align-self: center;
    text-align: center;
}

/**********************/

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
    display: flex;
    flex-direction: column;
    background-color: #d3edc3;
    padding: 1em;
    margin: 1em;
}
#cards article.card header {
    display: flex;
    align-items: center;
}
#cards article.card header h2 {
    flex-grow: 1;
}
#cards article.card header a.delete {
    display: none;
    font-size: 2.6rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
}
#cards article.card header:hover a.delete {
    display: inline;
}
#cards article.card li {
    list-style-type: none;
}
#cards article.card li label {
    display: flex;
    align-items: baseline;
}
#cards article.card li label span {
    margin-left: 0.5em;
    flex-grow: 1;
}
#cards article.card li label a {
    display: none;
}
#cards article.card li label:hover a {
    display: inline;
}
#cards article.card input:checked + span {
    text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
    margin: 0;
}
#cards article.card form {
    margin: 0;
}
#cards article.card input[type="text"] {
    background-color: white;
    margin: 0;
}
#content label {
    font-weight: normal;
}

@media (max-width: 70em) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
    main > header {
        display: grid;
        grid-template-columns: 1fr auto;
    }
    main > header h1 {
        grid-row-end: span 2;
    }
}
@media (max-width: 40em) {
    #cards {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 25em) {
    body {
        margin: 0;
    }
    main > header {
        margin: 0;
        padding: 0.5em;
    }
    main > header span {
        margin: 0;
    }
    #content form {
        margin: 0;
        max-width: 25em;
    }
    article.card {
        margin: 0;
        border-bottom: 1px solid rgba(96, 108, 118, 0.4);
    }
}
#create-project input[type="text"]{ 
    width: 45%;
    padding: 20px;
    margin: 12px;
    box-sizing: border-box;
}
#create-project{
    display: flex;
    justify-content: center;
}

#creatingYP{
    text-align: center;
    color: #7e7d7ad2;
}
#c-button  input[type="button"]{
        width: 15%;
        height: 30px;
        text-align: center;
        text-size-adjust: auto;
        border: 0.2px solid #000;
        background: #e6e4e4;
        cursor: pointer;
}
#c-button {
display: flex;
justify-content: center;
}

/**
 * Overide milligram colors
 * Some styles might be missing
 **/

.button {
    padding: 12px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
}

.button.white:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.light-blue-border {
    border-color: #264653;
}

.light-blue {
    background-color: #2a9d8f;
}

.yellow {
    background-color: #e9c46a;
}

.green {
    background-color: #3abb71;
}

.red {
    background-color: #e76f51;
}
a.button.button-outline {
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/*--------------------*/
/* USER PAGE */

#photoSpace{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.textSpace{
    display: flex;
    flex-flow: column;
    margin-left: 15%;
}

.userName{
    color:#264653;
    font-weight: 600px;
    font-size: 30px;
}

.userEmail{
    color :black;
}

.userpageSetUp{
    padding-top: 5%;
    padding-bottom: 3%;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: center;
}

.userpageInfo{
    display: flex;
    flex-flow: column;
}

#emailSpace{
    display: flex;
    flex-flow: row;
}

#emailIcon{
    align-self: center;
    padding-right: 2%;
}

.icon{
    color:#264653;
}

#userPhoto{
    display: flex;
    align-self:center;
    width: 200px;
    height: 200px;
}

#buttonEditProfile{
    display: flex;
    align-self: center;
    justify-content: center;
}

#userPageHR{
    background-color: #3abb71;
    border: none;
    height: 5px;
    width: 100%;
}

#editprofileButton{
    border: 0;
    background-color: #2a9d8f;
    padding: 13px;
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/*--------------------*/
/* EDIT USER PAGE */

#edituserpageTitle{
    color: #264653;
    font-size: 30px;
    text-align: center;
    padding-top : 15px;
}

.edituserpageHR{
  
    border: 0;
    height: 1px;
    width: 50%;
    position: relative;
    margin: 30px auto;
    background: #2a9d8f;
}

.edituserpageHR::before{
    background: #2a9d8f;
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border: 2px solid #2a9d8f;
    position: absolute;
    top: -5px;
    left: 50%;
    margin: 0 0 0 -3px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 
}

.userpageParam{
    padding-bottom: 30px;
}

#buttonUpdate{
    padding-top: 40px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.edituserpagePlaceholder{
    width: 250px;
    height: 50px;
    color: rgb(126, 126, 126);
}