openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Project Clinic'
  description: 'Web Resources Specification (A7) for Project Clinic'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
  - name: 'M01: Static Pages'
  - name: 'M02: Authentication'
  - name: 'M03: Authenticated User Area'
  - name: 'M04: Project Area'
  - name: 'M05: Forum'
  - name: 'M06 Company Administrator Area'

paths:
#-------------------------------- M01 -----------------------------------------
  /about-us/:
    get:
      operationId: R101
      summary: 'R101: See About Us'
      description: 'Provide description about website and its creators. Access: PUB'
      tags:
      - 'M01: Static Pages'
      responses:
      '200':
        description: 'Ok. Show About Us page' 
 
  /faq/:
    get:
      operationId: R102
      summary: 'R102: See Frequently Asked Questions (FAQ)'
      description: 'Provide frequently asked questions about our app. Access: PUB'
      tags:
      - 'M01: Static Pages'
      responses:
      '200':
        description: 'Ok. Show FAQ page' 
#-------------------------------- M02 -----------------------------------------
  /login:
    get:
      operationId: R201
      summary: 'R201: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M02: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R202
      summary: 'R202: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M02: Authentication'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
                  
  /register:
    get:
      operationId: R204
      summary: 'R204: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M02: Authentication'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R205
      summary: 'R205: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M02: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 
  /password/recovery:
    get:
      operationId: R206
      summary: 'R206: Password Recovery Form'
      description: 'Provide password recovery form. Access: PUB'
      tags:
        - 'M02: Authentication'
      responses:
        '200':  
          description: 'Ok. Show password recovery form'
    post:
      operationId: R207
      summary: 'R207: Recover Password Action'
      description: "Recover a user's password"
      tags:
        - 'M02: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputEmail:
                  type: string
              required:
                - inputEmail

      responses:
        '303':
          description: 'Redirect after processing password recovery request'
          headers:
            Location:
              schema:
                type: string
              examples:
                303Success:
                  description: 'Ok. Redirect to login.'
                  value: '/login/'
                303Error:
                  description: 'Failed password recovery. Redirect to password recovery.'
                  value: '/login/'

 # ---------------------------- M03 -----------------------------------------------
  
  /logout:

    post:
      operationId: R301
      summary: 'R301: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, ADM'
      tags:
        - 'M03: Authenticated User Area'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'
  

  /users/{id}:
    get:
      operationId: R302
      summary: 'R302: View user profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M03: Authenticated User Area'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
  
  /users/{id}/edit:
    get:
      operationId: R303
      summary: 'R303: Edit user profile form'
      description: 'Show the individual user profile edit form. Access: USR'
      tags:
        - 'M03: Authenticated User Area'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show edit profile UI'
    post:
      operationID: R304
      summary: 'R304: Edit user profile action'
      description: 'Edit user profile'
      tags:
        - 'M03: Authenticated User Area'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputName:
                  type: string
                inputDescription:
                  type: string
                inputProfilePicture:
                  type: file

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Information successfully processed. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed to process information. Redirect to edit user information form.'
                  value: '/users/{id}/edit'

  /users/{id}/password:
    get:
      operationId: R305
      summary: "R305: Change user's password form"
      description: 'Show the password change form. Access: USR'
      tags:
        - 'M03: Authenticated User Area'

      responses:
        '200':
          description: 'Ok. Show edit profile UI'
    post:
      operationID: R306
      summary: "R306: Change user's password"
      description: "Change user's password"
      tags:
        - 'M03: Authenticated User Area'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Old password:
                  type: string
                New password:
                  type: string

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Information successfully processed. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed to process information. Redirect to edit user information form.'
                  value: '/users/{id}/edit'
  
 #------------------------------- M04 -----------------------------------------------------------------

  /create-project/:
    get:
      operationId: R401
      summary: 'R401: Create New Project'
      description: 'Create New Project. Access: USR'
      tags:
        - 'M04: Project Area'
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: company id
          schema:
            type: integer
        - in: query
          name: description
          schema:
            type: string 
        - in: query
          name: start date
          schema:
            type: string    
        - in: query
          name: delivery date
          schema:
            type: string   
      responses:
        '302':
            description: 'Redirect after processing the project information.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Success. Redirect to project area.'
                    value: '/project/1'
                  302Error:
                    description: 'Failed. Redirect to project creation form.'
                    value: '/create-project/'
          
  project/{id}:
    get:
        operationID: R402
        summary: "R402: See project page"
        description: "See the project page and all its information. Access: PM"
        tags:
          - 'M04: Project Area'
        parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: true

        responses:
          '200':
            description: 'Ok. Show project page UI'


  /api/load-users:
    get:
      operationId: R403
      summary: 'R402: Load Users'
      description: 'Load Users. Access: PM'
      tags:
        - 'M04: Project Area'
      parameters:
        - in: query
          name: pagination
          schema:
            type: integer
          required: false
        - in: query
          name: page
          schema:
            type: integer
          required: false
        - in: query
          name: sortBy
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: "Return users for pagination"
          content: 
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '400':
          description: "Error in parameters"
            
  project/{project_id}/search/:
    get:
      operationId: R404
      summary: 'R403: Search Tasks API'
      description: 'Searches for tasks and returns the results as JSON. Access: PM.'

      tags: 
        - 'M04: Project Area'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/TaskPreview'
                   
  api/task/{project_id}:
    get:
      operationId: R405
      summary: "R404: Get new task form"
      description: 'Show the form to create a new task. Access: PM'
      tags:
        - 'M04: Project Area'

      responses:
        '200':
          description: 'Ok. Show create  profile UI'
    post:
      operationId: R404
      summary: "R404: Create new task"
      description: "Create a new task. Access: PM"
      tags:
        - 'M04: Project Area'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                task-name:
                  type: string
                task-description:
                  type: string
                task-members:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
                due-date:
                  type: string
      responses:
        '201':
          description: 'Task created'

 api/task/{task_id}:
    get:
      operationID: R406
      summary: "R405: See task page"
      description: "See the task page and all its information. Access: PM"
      tags:
        - 'M04: Project Area'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show task page UI'
  
  api/task/updateStatus/{id}:
    post:
      operationID: R407
      summary: "R407: Update task status"
      description: "Update task status. Access: PM"
      tags:
        - 'M04: Project Area'
      parameters:
        - in: path
          name: status
          schema:
            type: status
          required: true

      responses: 
         '200':
            description: "Ok. Show task page UI"
  
  api/task/{task_id}:
    post:
      operationID: R408
      summary: "R408: Edit task"
      descritpion: "Edit task, like description, delivery date, etc. Access: PM"
      tags:
        - 'M04: Project Area'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputName:
                  type: string
                inputDescription:
                  type: string
                inputDate:
                  type: date

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Information successfully processed. Redirect to project page.'
                  value: '/project/{id}'
    
    api/task/{task_id}:
      get:
        operationId: R409
        summary: "R504: Delete task"
        description: 'Delete an active task. Access: PM'
        tags:
          - 'M05: Project Area'

        responses:
          '200':
            description: 'Ok. Task deleted'



  
#------------------------------- M05 -----------------------------------------------------------------

  /api/forum:
    get:
      operationId: R501
      summary: 'R501: Search post API'
      description: 'Searches for post and returns the results as JSON. Access: PM.'

      tags: 
        - 'M05: Forum'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items: 
                  properties: 
                    message:
                      type: string
                    author_name:
                      type: string
                  
               
  /new-post/:
    get:
      operationId: R502
      summary: "R502: Create new post"
      description: 'Show the form to create a new task. Access: PM'
      tags:
        - 'M05: Forum'

      responses:
        '200':
          description: 'Ok. Post created'

  /edit-post/:
    get:
      operationId: R503
      summary: "R503: Edit an existing post"
      description: 'Show the form to create a new task. Access: PA'
      tags:
        - 'M05: Forum'

      responses:
        '200':
          description: 'Ok. Post edited'

  /delete-post/:
    get:
      operationId: R504
      summary: "R504: Delete post"
      description: 'Show the form to create a new task. Access: PA'
      tags:
        - 'M05: Forum'

      responses:
        '200':
          description: 'Ok. Post Deleted'

#------------------------------- M06 -----------------------------------------------------------------

# -------------------- Components --------------------
  
components:
  schemas:
    TaskPreview:
      type: object
      properties:
        description:
          type: string
        start_date:
          type: string
        delivery_Date:
          type: string
        status:
          type: string
        project_member:
          type: array
          items:
            $ref: '#/components/schemas/User'
        photo:
          type: string

    User:
        type: object
        properties:
          name:
            type: string
          email: 
            type: String
          profile_description:
            type: string
          profile_image:
            type: string

   