openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Project Clinic'
  description: 'Web Resources Specification (A7) for Project Clinic'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://web.fe.up.pt/~ssn/wiki/teach/lbaw/medialib/a07

tags:
  - name: 'M01: Static Pages'
  - name: 'M02: Authentication'
  - name: 'M03: Authenticated User Area'
  - name: 'M04: Project Area'
  - name: 'M05: Tasks'
  - name: 'M06: Forum'
  - name: 'M07: Company Administrator Area'

paths:
#-------------------------------- M01 -----------------------------------------
  /about-us:
    get:
      operationId: R101
      summary: 'R101: See About Us'
      description: 'Provide description about website and its creators. Access: PUB'
      tags:
      - 'M01: Static Pages'
      responses:
      '200':
        description: 'Ok. Show About Us page' 
 
#-------------------------------- M02 -----------------------------------------
  /login:
    get:
      operationId: R201
      summary: 'R201: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M02: Authentication'
      responses:
        '200':
          description: 'Ok. Show log-in UI'
    post:
      operationId: R202
      summary: 'R202: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M02: Authentication'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
                  
  /register:
    get:
      operationId: R204
      summary: 'R204: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M02: Authentication'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'

    post:
      operationId: R205
      summary: 'R205: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M02: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - name
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
 
  /password/recovery:
    get:
      operationId: R206
      summary: 'R206: Password Recovery Form'
      description: 'Provide password recovery form. Access: PUB'
      tags:
        - 'M02: Authentication'
      responses:
        '200':  
          description: 'Ok. Show password recovery form'
    post:
      operationId: R207
      summary: 'R207: Recover Password Action'
      description: "Recover a user's password"
      tags:
        - 'M02: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputEmail:
                  type: string
              required:
                - inputEmail

      responses:
        '303':
          description: 'Redirect after processing password recovery request'
          headers:
            Location:
              schema:
                type: string
              examples:
                303Success:
                  description: 'Ok. Redirect to login.'
                  value: '/login/'
                303Error:
                  description: 'Failed password recovery. Redirect to password recovery.'
                  value: '/login/'

 # ---------------------------- M03 -----------------------------------------------
  
  /logout:

    post:
      operationId: R301
      summary: 'R301: Logout Action'
      description: 'Logout the current authenticated used. Access: USR, ADM'
      tags:
        - 'M03: Authenticated User Area'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'
  

  /users/{id}:
    get:
      operationId: R302
      summary: 'R302: View user profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M03: Authenticated User Area'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show view profile UI'
  
  /users/{id}/edit:
    get:
      operationId: R303
      summary: 'R303: Edit user profile form'
      description: 'Show the individual user profile edit form. Access: USR'
      tags:
        - 'M03: Authenticated User Area'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show edit profile UI'
    post:
      operationID: R304
      summary: 'R304: Edit user profile action'
      description: 'Edit user profile'
      tags:
        - 'M03: Authenticated User Area'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                inputName:
                  type: string
                inputDescription:
                  type: string
                inputProfilePicture:
                  type: file

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Information successfully processed. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed to process information. Redirect to edit user information form.'
                  value: '/users/{id}/edit'

  /users/{id}/password:
    get:
      operationId: R305
      summary: "R305: Change user's password form"
      description: 'Show the password change form. Access: USR'
      tags:
        - 'M03: Authenticated User Area'

      responses:
        '200':
          description: 'Ok. Show edit profile UI'
    post:
      operationID: R306
      summary: "R306: Change user's password"
      description: "Change user's password"
      tags:
        - 'M03: Authenticated User Area'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Old password:
                  type: string
                New password:
                  type: string

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Information successfully processed. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed to process information. Redirect to edit user information form.'
                  value: '/users/{id}/edit'
  
  

  
  #------------------------------- M04 -----------------------------------------------------------------


  /api/tasks:
    get:
      operationId: R401
      summary: 'R401: Search Tasks API'
      description: 'Searches for tasks and returns the results as JSON. Access: PM.'

      tags: 
        - 'M04: Project Area'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    obs:
                      type: string
                    year:
                      type: string
                    owner:
                      type: string
                    type:
                      type: string
                example:
                  - id: 1
                    title: Rihanna - Unapologetic
                    obs: Good pop music album.
                    year: 2012
                    owner: Joana Lima
                    type: MP3
                  - id: 15
                    title: Mr. Bean
                    obs: The best comedy movie.
                    year: 1995
                    owner: Manuel Teixeira
                    type: DVD

#------------------------------- M05 -----------------------------------------------------------------
#------------------------------- M06 -----------------------------------------------------------------
#------------------------------- M07 -----------------------------------------------------------------